* {
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --light-red: hsl(0, 100%, 67%);
  --light-red-bg: hsla(0, 100%, 67%, 0.1);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-bg: hsla(166, 100%, 37%, 0.05);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  /* gradients */
  --light-slate-blue: hsl(252, 100%, 67%); /* background */
  --light-royal-blue: hsl(241, 81%, 54%); /* background */
  --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --persian-blue: hsla(241, 72%, 46%, 1); /* circle */

  /* neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: auto;
}

footer {
  font-size: 11px;
  text-align: center;
  position: static;
  width: 400px;
  margin: auto;
  padding: 4rem 0 1rem;
}

footer a {
  color: hsl(228, 45%, 44%);
}
